---
apiVersion: tower.ansible.com/v1alpha1
kind: JobTemplate
metadata:
  name: "{{ package }}-cisco-nxos-facts"
  namespace: "{{ namespace }}"
spec:
  secret: "{{ secret }}"
  config:
    name: "{{ package }}-cisco-nxos-facts"
    playbook: "cisco/nxos/playbooks/facts.yml"
    project: "{{ package }}"
    ask_credential_on_launch: "true"
    ask_inventory_on_launch: "true"
    ask_job_type_on_launch: "true"
    ask_limit_on_launch: "true"
    ask_variables_on_launch: "true"
---
apiVersion: tower.ansible.com/v1alpha1
kind: JobTemplate
metadata:
  name: "{{ package }}-cisco-ios-facts"
  namespace: "{{ namespace }}"
spec:
  secret: "{{ secret }}"
  config:
    name: "{{ package }}-cisco-ios-facts"
    playbook: "cisco/ios/playbooks/facts.yml"
    project: "{{ package }}"
    ask_credential_on_launch: "true"
    ask_inventory_on_launch: "true"
    ask_job_type_on_launch: "true"
    ask_limit_on_launch: "true"
    ask_variables_on_launch: "true"
