---
apiVersion: tower.ansible.com/v1alpha1
kind: Project
metadata:
  name: "{{ package }}"
  namespace: "{{ namespace }}"
spec:
  secret: "{{ secret }}"
  config:
    name: "{{ package }}"
    scm_url: "{{ repository }}"
    scm_branch: "{{ version }}"
    scm_delete_on_update: no
    scm_type: git
    scm_update_on_launch: true
    organization: "{{ organization }}"
