---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ k8s_resources.user }}-home"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ k8s_resources.storage }}"
