apiVersion: tower.ansible.com/v1alpha1
kind: JobTemplate
metadata:
  name: "{{ package }}"
  namespace: "{{ namespace }}"
spec:
  secret: "{{ secret }}"
  config:
    name: "{{ package }}"
    playbook: "playbooks/main.yml"
    project: "{{ package }}"
    ask_credential_on_launch: "true"
    ask_inventory_on_launch: "true"
    ask_job_type_on_launch: "true"
    ask_limit_on_launch: "true"
    ask_variables_on_launch: "true"
