---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ k8s_resources.user }}-home-containers"
  labels:
    {{ k8s_labels | indent 4 | trim }}
data:
  containers.conf: |-
    [containers]
    volumes = [
      "/proc:/proc",
    ]
