{%- if values.secrets.ssh_host_rsa_key is defined or
      values.secrets.ssh_host_dsa_key is defined or
      values.secrets.ssh_host_ecdsa_key is defined or
      values.secrets.ssh_host_ed25519_ke is defined %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ apm.name }}-etc-ssh
  labels:
    {{ values.labels | indent 4 | trim }}
data:
  {%- if values.secrets.ssh_host_rsa_key is defined %}
  ssh_host_rsa_key: |-
    {{ values.secrets.ssh_host_rsa_key | b64enc }}
  {%- endif %}
  {%- if values.secrets.ssh_host_dsa_key is defined %}
  ssh_host_dsa_key: |-
    {{ values.secrets.ssh_host_dsa_key | b64enc }}
  {%- endif %}
  {%- if values.secrets.ssh_host_ecdsa_key is defined %}
  ssh_host_ecdsa_key: |-
    {{ values.secrets.ssh_host_ecdsa_key | b64enc }}
  {%- endif %}
  {%- if values.secrets.ssh_host_ed25519_key is defined %}
  ssh_host_ed25519_key: |-
    {{ values.secrets.ssh_host_ed25519_key | b64enc }}
  {%- endif %}
{%- endif %}