---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k8s_resources.user }}-home-ssh
  labels:
    {{ k8s_labels | indent 4 | trim }}
data:
  authorized_keys: |-
    {{ k8s_secrets.authorized_keys | b64enc }}
